JWT_SECRET=

MFA_SECRET_KEY=

AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=

HUB_DB_USER=postgres
HUB_DB_PASSWORD=

BOT_SECRET=
BOT_PASSWORD=

COTURN_REALM=talk.local
COTURN_USER=talk
COTURN_PASS=talkpass

# Change to true for TLS on PeerJS
PEER_SECURE=false